head
 meta(charset="UTF-8")
 title Jasper Radio
 meta(name="viewport" content="width=device-width, initial-scale=1.0")
 meta(name="twitter:card" content="summary")
 meta(name="twitter:description" content="Jasper is a music platform (radio stations) for Discord.")
 meta(name="twitter:title" content="Jasper")
 meta(name="twitter:image" content="https://cdn.discordapp.com/avatars/829348146462326866/3a59d39c998525453ac8d4b48b47e67f.png?size=2048")
 meta(name="og:site" content="Jasper Radio")  
 link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")

 link(rel="stylesheet" href="/style.css")