doctype html
html(lang="en")
 include ./includes/head.pug
 body
  include ./includes/navbar.pug
  div(class="container")
   center
    h1 Jasper
    p Who is Jasper?
    br
    h3 Jasper is a bot for Music Discord.
    br
    button(class="button" onclick="location.href='';") Invite bot
    br
    br
    button(class="button" onclick="location.href='';") Support
  div(class="radios")
   center
    include ./includes/radio.pug
  include ./includes/scripts.pug